:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin-left: 14px;
    margin-right: 14px;
    align-content: center;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.subscription-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.subscription-card {
    background-color: #4f2ca4;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    width: 16rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subscription-card.active {
    border-color: #4caf50;
}

.subscription-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.subscription-card button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


.subscription-card h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.subscription-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.subscription-card button {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.25s, border-color 0.25s;
}

.subscription-card button:hover {
    background-color: #646cff;
    border-color: #646cff;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #4f2ca4;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #4f2ca4;
        color: #000000;
    }

    .subscription-card {
        background-color: #4f2ca4;
        border: 1px solid #e0e0e0;
    }

    .subscription-card button {
        background-color: #4f2ca4;
        color: #000000;
    }
}